html, body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

#conteiner {
    display: grid;
    }
    
#menu { 
    grid-area: 1 / 1 / 2 / 6; 
    background-color: #f46036;
}

#sidebar { 
    grid-area: 2 / 1 / 6 / 2; 
    background-color: #1b998b;
}

#content { 
    grid-area: 2 / 2 / 6 / 6; 
    background-color: #2e294e;
    height: 100vw;
}

